<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form id="chat-form">
        <input type="text" id="message" name="message">
        <input type="submit" value="Send">
    </form>

    <div id="response"></div>

    <script type="text/javascript">
    $('#chat-form').on('submit', function(event) {
        event.preventDefault();

        $.ajax({
            url: '/api/chat/',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({"message": $('#message').val()}),
            success: function(data) {
                $('#response').text(data.response);
            }
        });
    });
    </script>
</body>
</html>